body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--primary-white);
}

header {
  position: absolute;
  width: 100%;
  padding: 1rem 2rem;
}

footer {
  background-color: var(--primary-black);
  padding: 2rem;
}
