.container {
  padding-inline: 2rem;
}

/* Home Section */
.home {
  background: url("../../assets/images/mobile/image-hero.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.home__title-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.home__title {
  border: solid var(--primary-grey-200);
  padding: 1.5rem;
  width: clamp(350px, 40vw, 600px);
}

.home__title h1 {
  font-size: clamp(2rem, 3.5vw, 4rem);
  color: var(--primary-grey-200);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  font-family: var(--font-josefin);
}

/* VR Interactive Section */
.vr {
  padding-block: 2rem;
  max-width: 1200px;
  margin-inline: auto;
}

.vr__img img {
  width: 100%;
  max-width: 45rem;
}

.vr__text {
  padding: clamp(1rem, 4vw, 6rem);
  max-width: 40rem;
  text-align: center;
}

.vr__text h2 {
  font-family: var(--font-josefin);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: clamp(2rem, 4vw, 3rem);
}

.vr__text p {
  font-family: var(--font-alata);
  letter-spacing: 0.05rem;
  color: var(--primary-grey-500);
  margin: 0;
}

.creations {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1200px;
  margin-inline: auto;
  margin-block-start: 2rem;
}

.creations__header {
  grid-column: 1/-1;
  text-align: center;
}

.creations__header h2 {
  font-family: var(--font-josefin);
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}

.creations__card {
  background-image: var(--bg-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  padding-inline: 2rem;
  height: 8rem;
  position: relative;
  cursor: pointer;
}

.creations__card p {
  color: var(--primary-grey-200);
  text-transform: uppercase;
  font-size: clamp(1.5rem, 2vw, 3rem);
  max-width: 10rem;
  position: absolute;
  z-index: 2;
  font-family: var(--font-josefin);
  font-weight: 100;
}

.creations__card:hover p {
  color: var(--primary-black);
}

.creations__card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-grey-500);
  opacity: 0;
  z-index: 1;
}

.creations__card:hover::after {
  opacity: 0.7;
}

.creations__btn-wrapper {
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
}

.creations__see-all {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border: 1.5px solid var(--primary-black);
  cursor: pointer;
}

.creations__see-all:hover {
  color: var(--primary-white);
  background-color: var(--primary-black);
}

.section-wrapper {
  padding-block: 5rem;
}

@media (width > 62.5rem) {
  .home {
    background-image: url("../../assets/images/desktop/image-hero.jpg");
  }
  .creations__card {
    background-image: var(--bg-desktop);
    height: 35rem;
  }
  .vr {
    position: relative;
    padding: 0;
  }
  .vr__text {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: start;
    padding-block-end: 0;
    background-color: var(--primary-white);
  }

  .creations__header {
    grid-column: 1/3;
    text-align: start;
  }

  .creations__btn-wrapper {
    grid-area: 1/3/2/-1;
    justify-content: end;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .creations__see-all {
    transition: background 0.2s ease;
  }
  .creations__card p {
    transition: color 0.2s ease;
  }

  .creations__card::after {
    transition: opacity 0.2s ease;
  }
}

