.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
}

.navbar__brand-title {
  text-decoration: none;
  color: var(--primary-white);
  font-family: var(--font-alata);
  font-weight: 400;
  font-size: 2rem;
}

.navbar__menu-btn {
  border: none;
  background: none;
}

.navbar__close-btn {
  background: none;
  border: none;
}

.close-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__lists-wrapper {
  list-style: none;
  background-color: var(--primary-black);
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding-block-start: 5rem;
  transform: translateX(-100vw);
  gap: 8rem;
  padding-inline: 1.5rem;
  z-index: 100;
}

.navbar__lists-wrapper.active {
  transform: translateX(0);
}

.navbar__lists {
  padding-inline-start: 0;
  display: grid;
  list-style: none;
  padding-inline-start: 0;
  gap: 1rem;
}

.navbar-links {
  text-decoration: none;
  color: var(--primary-grey-200);
  font-family: var(--font-josefin);
  font-weight: 300;
  font-size: 2rem;
  position: relative;
  display: flex;
}

@media (width > 62.5rem) {
  .navbar__lists-wrapper {
    position: static;
    transform: translateX(0);
    padding-block: 0;
    background: none;
  }

  .navbar__lists {
    display: flex;
  }

  .navbar-links {
    font-size: 1.2rem;
    justify-content: center;
  }

  .navbar__menu-btn {
    display: none;
  }

  .close-btn-wrapper {
    display: none;
  }

  .navbar-links::after {
    content: "";
    width: 0;
    border-block-end: solid var(--primary-grey-200);
    position: absolute;
    bottom: -0.5rem;
  }

  .navbar-links:hover::after {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .navbar__lists-wrapper {
    transition: transform 200ms ease;
  }

  .navbar-links::after {
    transition: width 0.2s ease;
  }
}
